<template>
  <div>
      <h3 class="title">Welcome to Trivia by Day</h3>
      <p>{{ msg }}</p>
      <h2>Test <b-badge>New</b-badge></h2>
      <b-container>
          <!-- Top Row -->
          <b-row>
              <b-col>
                  <b-button class="btn-block">A</b-button>
              </b-col>
              <b-col>
                  <b-button class="btn-block">B</b-button>
              </b-col>
          </b-row>
          <!-- Bottom Row -->
          <b-row>
              <b-col>
                  <b-button class="btn-block">C</b-button>
              </b-col>
              <b-col>
                  <b-button class="btn-block">D</b-button>
              </b-col>
          </b-row>
      </b-container>
  </div>
</template>

<script>
export default {
    name: 'Welcome',
    props: {
        msg: String
    }
}
</script>

<style scoped>
.title {
    color: red;
}
</style>