<template>
  <div id="app">
    <img class="logo" alt="Trivia logo" src="./assets/logo-trivia.png">
    <Welcome msg="Test" />
    <!--<HelloWorld msg="Welcome to bla"/>-->
  </div>
</template>

<script>
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';
import Welcome from './views/Welcome';
// Bootstrap CSS
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

// Use BootstrapVue and IconsPlugin
Vue.use(BootstrapVue);
Vue.use(IconsPlugin);

export default {
  name: 'App',
  components: {
    Welcome
  }
}
</script>

<style>
body {
  background-color: #2c3e50;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
}

.logo {
  width: 256px;
}
</style>
